<?xml version="1.0" encoding="UTF-8"?>
<device>
    <deviceProtocol>SIP</deviceProtocol>
    <sipProfile>
        <sipProxies>
            <registerWithProxy>true</registerWithProxy>
            <proxy1_address>{{sip_server}}</proxy1_address>
            <proxy1_port>{{sip_port}}</proxy1_port>
{{#has_outbound_proxy}}
            <outboundProxy>{{outbound_proxy_host}}</outboundProxy>
            <outboundProxyPort>{{outbound_proxy_port}}</outboundProxyPort>
{{/has_outbound_proxy}}
{{#has_backup_server}}
            <backupProxy>{{backup_server}}</backupProxy>
            <backupProxyPort>{{backup_port}}</backupProxyPort>
{{/has_backup_server}}
        </sipProxies>
        <sipLines>
{{#lines}}
            <line button="{{line_index}}" lineIndex="{{line_index}}">
                <featureID>9</featureID>
                <proxy>{{sip_server}}</proxy>
                <port>{{sip_port}}</port>
                <featureLabel>{{label}}</featureLabel>
                <name>{{user_name}}</name>
                <displayName>{{display_name}}</displayName>
                <authName>{{auth_name}}</authName>
                <authPassword>{{password}}</authPassword>
{{#has_voicemail}}
                <messagesNumber>{{voicemail_number}}</messagesNumber>
{{/has_voicemail}}
            </line>
{{/lines}}
{{#line_keys}}
            <line button="{{position}}" lineIndex="{{position}}">
                <featureID>2</featureID>
                <featureLabel>{{key_label}}</featureLabel>
                <speedDialNumber>{{key_value}}</speedDialNumber>
{{#is_blf}}
                <featureOptionMask>1</featureOptionMask>
{{/is_blf}}
            </line>
{{/line_keys}}
        </sipLines>
    </sipProfile>
    <commonProfile>
        <preferredCodec>g711ulaw</preferredCodec>
        <phonePassword>{{admin_password}}</phonePassword>
    </commonProfile>
{{#vlan_enabled}}
    <vendorConfig>
        <!-- Cisco MPP only exposes voice VLAN via vendorConfig; data VLAN is the native/untagged VLAN -->
        <voiceVlanAccess>{{voice_vlan_id}}</voiceVlanAccess>
    </vendorConfig>
{{/vlan_enabled}}
    <userLocale>
        <backgroundFile>{{wallpaper_url}}</backgroundFile>
    </userLocale>
    <provisioning>
        <profile_rule>{{provisioning_url}}/{{mac_address}}.xml</profile_rule>
    </provisioning>
</device>
